<% if (!user) { %>
<div style="width:500px;height:180px;">
    <h2 style="font-size:40px;">Welcome! Please log in.</h2>
    <a href="/auth/facebook"><img src="fb-login.jpg" width="151" height="24"></a>
</div>
<% } else { %>
    <img src="<%= user.picture.path %>" alt="<%= user.username %>">
    <h2>Hello, <%= user.username %>.</h2>
    <% if(user.facebookId) {%>
        <a href="/facebook/logout">Log out</a>
    <%} else {%>
        <a href="/google/logout">Log out</a>
    <%}%>
<% } %>